<footer class="site-footer ">
  <div class="grid wrapper">
    <div class="grid__item  one-whole lap-and-up-one-third">
      <span class="site-footer--copyright island--small">Copyright © Developing Cognition 2016</span>
    </div><!--
    --><div class="grid__item  one-whole lap-and-up-one-third">
      <ul class="nav social-buttons island--small">
          <li><a href="mailto:james@developingcognition.com" style="background-color: #5AB764;"><i class="fa fa-envelope"></i></a>
          </li>
          <li><a href="https://uk.linkedin.com/in/james-brooks-4aa3a944" style="background-color: #137BB8;"><i class="fa fa-linkedin"></i></a>
          </li>
          <li><a href="https://www.facebook.com/developingcognition" style="background-color: #537BBE;"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://www.twitter.com/DevCognition/" style="background-color: #77CCF1;"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="/files/CV.pdf" style="background-color: #5AB764;"><i class="fa fa-file-pdf-o"></i></a>
          </li>
      </ul>
    </div><!--
    --><div class="grid__item  one-whole lap-and-up-one-third">
      <ul class="nav site-footer--nav island--small">
        <li><a href="/about">Services &amp; Events</a></li>
        <li><a href="/about">Portfolio &amp; Clients</a></li>
        <li><a href="/about">About &amp; Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
