<header class="site-header">
  <div class="wrapper">
    <a class="site-header--brand" href="/#who-are-we">Developing Cognition</a>
    <nav class="site-header--nav">
      <ul class="site-header--list">
        <li><a href="/services-and-events" {% if page.section == "services-and-events" %} class="site-header--li-active" {% endif %} >Services &amp; Events</a></li>
        <li><a href="/portfolio-and-clients" {% if page.section == "portfolio-and-clients" %} class="site-header--li-active" {% endif %} >Portfolio &amp; Clients</a></li>
        <li><a href="/about-and-contact" {% if page.section == "about-and-contact" %} class="site-header--li-active" {% endif %} >About &amp; Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
