/*------------------------------------*\
    $ISLAND
\*------------------------------------*/
/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 * E.g.:
 *
   <div class=island>
       I am boxed off.
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/u8pV3
 *
 */
.island,
.islet,
.island--small,
.island--large{
    display:block;
    @extend .clearfix;
}

    .island > :last-child,
    .islet > :last-child,
    .island--small > :last-child,
    .island--large > :last-child{
        margin-bottom:0;
    }

.island{
    padding:$inuit-base-spacing-unit;
}

/**
 * Just like `.island`, only smaller.
 */
.islet,
.island--small{
    padding:$inuit-base-spacing-unit--small;
}


/**
 * Just like `.island`, only larger.
 */
.island--large{
    padding:$inuit-base-spacing-unit--large;
}
