/*------------------------------------*\
    $RESPONSIVE-YOUTUBE-EMBED
\*------------------------------------*/

// make youtube embeds act a bit more responsivly.

.responsive-youtube-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    @extend %margin-bottom;
}

.responsive-youtube-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
