
// Font Selections

@mixin serif-font {
	font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin script-font {
	font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin body-font {
	font-family: "Average", "Helvetica Neue", Helvetica, serif;
}

@mixin heading-font {
	font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
