

$inuit-base-font-size:  19px;


$brand-color:      #B22222;
$brand-second:     #222;
$text-color-muted: #777;

$inuit-enable-btn--large: true;
$inuit-btn-radius: 3px;
$inuit-btn-background: $brand-color;
$inuit-btn-color: white;
