/*------------------------------------*\
    $SITE-FOOTER
\*------------------------------------*/
/**
 * The footer of the site
 */

.site-footer{
  background-color: $brand-second;
  padding: 20px;
  @extend %clearfix;
  @include heading-font();
  @include inuit-font-size(14px);
  font-weight: normal;
  text-align: center;
}

  .site-footer--copyright{
    color: white;
  }

  .site-footer--nav{
    // text-transform: uppercase;
    // letter-spacing: 1px;

    a {
      color: white;
      text-decoration: none;
      padding-right: 20px;
    }

    a:hover,
    a:focus{
      color: $brand-color;
      text-decoration: underline;
    }
  }
