<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top" class="index">

      {% include nav-workshop.html %}

      {{ content }}

      {% include footer.html %}

      <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
      	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
        #mc_embed_signup .button {background-color: #B22222;}
      </style>
      <link rel="stylesheet" type="text/css" href="http://www.brownpapertickets.com/widget_v651.css" />

      <script src="http://www.brownpapertickets.com/eventwidget.js?event=2491382&nodescription=1&notitle=1" type="text/javascript" language="javascript"></script>
      <script src="http://www.brownpapertickets.com/widget_v651.js?event=2491382" type="text/javascript" language="javascript"></script>

      {% include scripts.html %}

  </body>

</html>
